#{extends 'main.html' /}
#{set title:'Home' /}

<p>
This is a demo app for the <a href="https://github.com/joergviola/play-cms">Play!CMS Module</a>.
You can experiment and create pages. But beware! All CMS pages and images are deleted every hour!
</p>
<p>
#{if session.get("username")}
If you would <a href="/logout">logout</a>, 
you'd no longer be able to <a href="/page/admin">change pages</a>.
#{/if}
#{else}
If you would <a href="/login">login</a>, 
you could enter the <a href="/page/admin">CMS admin page</a>.
<div style="font-size: 70%"> 
(All users are acepted, user 'cms' has page edit rights.)
</div>
#{/else}
</p>
<p>
What you can do here:
<ul>
	<li>Create end edit page like <a href="/page/Home">this one</a>.</li>
	<li>Edit parts of pages like this one: '
#{cms.display 'paragraph'}
	This is the part
#{/cms.display}'
	</li>
	<li>You can even manage complete menue structures of pages:
		<ul>
#{list items:page?.findByTag('index'), as:'p' }
		<li>
			<a href="/page/${p.name}">${p.title}</a>
		</li>
#{/list}
		</ul>
	</li>
</ul>
</p>
<p>

</p>
