#{extends 'page.html' /}

#{set 'moreStyles'}
        #{get 'moreStyles' /}
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
#{/set}        


#{set 'header'}
	<div style="float: left">
	<a href="/"><span style="font-size: 500%">Play!CMS</span></a>
	</div>
	<!-- AddThis Button BEGIN -->
	<div class="addthis_toolbox addthis_default_style" style="float: right; width:120px;">
	<a class="addthis_button_facebook"></a>
	<a class="addthis_button_twitter"></a>
	<a class="addthis_button_xing"></a>
	<a class="addthis_button_google_plusone" g:plusone:count="false"></a>
	<a class="addthis_button_compact"></a>
	</div>
	<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4ed384ea616bceae"></script>
	<!-- AddThis Button END -->
	<div style="clear: both"></div>
#{/set}        

#{doLayout /}

#{set 'footer'}
	Developed as part of the 
	<a href="http://playhackathon.herokuapp.com/">2011 Play Hackathon</a> 
	and using the 
	<a href="http://www.playframework.org/">Play Framework</a>
#{/set}        
